<!DOCTYPE html>
<html lang="en">
<head>
  <title>DashBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" herf="main.css">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md bg-success navbar-dark" style="font-family: 'IM Fell English', serif;">
        <a class="navbar-brand" href="#" style="font-size:1.5em;font-family: 'Permanent Marker', cursive;">Mission Heal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-left" id="collapsibleNavbar" style="font-size:1.5em;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">DashBoard</a>
            </li>
          </ul> 
       </div>
       <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar" style="font-size:1.5em;">
          <ul class="navbar-nav"> 
            <li class="nav-item">
              <a class="nav-link" href="#">Form An NGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login/">Login</a>
              </li> 
              <li class="nav-item">
                  <a class="nav-link" href="signup/">SignUp</a>
                </li>    
          </ul>
        </div>  
      </nav>

{% block content %}
{% for n in ngo.ngodetails_set.all %}
<div class="container-fluid">
    <div class="row">
        <h3>Name:</h3>
        <h2>{{ngo.ngo_name}}</h2>
    </div>
    <div class="row">
            <img src="{{ngo.ngo_logo}}" width="400px" height="400px"/>
    </div>
    <div class="row">
        <h3>Details:</h3>
        <br/>
        <p>{{n.details}}</p>
    </div>
    <div class="row">
        <h3>Address:</h3>
        <br/>
        <p>{{n.address}}</p>
    </div>
</div>
{% endfor %}
</body>
</html>
{% endblock %}