<!DOCTYPE html>
<html lang="en">
<head>
  <title>DashBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-success navbar-dark" style="font-family: 'IM Fell English', serif;">
        <a class="navbar-brand" href="#" style="font-size:1.5em;font-family: 'Permanent Marker', cursive;">Mission Heal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-left" id="collapsibleNavbar" style="font-size:1.5em;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">DashBoard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="add/">Form An NGO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login/">Login</a>
              </li> 
              <li class="nav-item">
                  <a class="nav-link" href="signup/">SignUp</a>
                </li>    
          </ul>
        </div>  
      </nav>
           
{% block content %}
{% if all_ngos %}

<div class="container-fluid grid-container">
    <br>
    <div class="row text-center">
    {% for ngo in all_ngos %}
    <div class="col-lg-3 text-center">
    <div class="card text-center grid-item" style="max-height:700px">
        <h2 class="text-center">{{ngo.ngo_name}}</h2>
        <img class="card-img-top" src="{{ngo.ngo_logo}}" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{ngo.ngo_name}}</h4>
                <p class="card-text">{{ngo.ngo_loc}}</p>
                <a href="{{ngo.id}}" class="btn btn-primary">View Details</a>
            </div>
    </div>
    </div>
    </div>
</div>
<br>
{% endfor %}

{% else%}
<h3>No Ngo</h3>
{%endif%}
{% endblock %}
</body>
</html>